/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

html
{
  position: relative; 
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 70px;
  font: Arial,sans-serif;
}


/** {
   border: 0px solid red !important;
}*/

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  padding-top: 15px;
/*  border-bottom: 1px solid #eee;*/

}

#editButton {
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 40px;
  margin-left: 0px

}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.linksOfInterest {
  margin-left: 30px;
  margin-bottom: 50px;
}

#picturesTitle {
    margin-left: 0px;
}

dl {
    margin-left: 30px;
}

/*.footer {
  color: #9d9d9d;
  font-family: 'Handlee', cursive;
  font-size: 2em;
  margin: 0 auto;
  margin: 0 auto;
  width: 100%;
  bottom: 0px;
  z-index: 0;
  position: absolute; 
  padding: 15px;
  text-align: center;
}*/


/*CSS for thumbnail image gallery*/
.thumbnailPhotoGallery {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: inline-block;
}
.thumbnailPhotoGallery img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnailPhotoGallery img.portrait {
  width: 100%;
  height: auto;
}


/*CSS for form Crete New Excursion*/

.well {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    overflow: hidden;
}

.btn-default {
      color: #555c6c;
/*    color: #ffffff;*/
      background-color: transparent;
      border: 1px solid #555c6c;
/*    background-color: #a7b3c3;*/
/*    background-color: #858899;*/
/*    background-color: #95a5a6;*/
/*      border: 2px solid #555c6c;*/
/*    border-color: #555c6c;*/
/*    border-color: #95a5a6;*/
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
/*    border: 2px solid #555c6c;
    border-width: 2px;*/
    white-space: nowrap;
    padding: 6px 10px;
    font-size: 0.8em;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-control-feedback{
  right: 12px;
}

#titleForm {
  text-align: left;
}

/*.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}*/


#notes {
  height: 50px;
}

/* Sets size for submit button in Create and CreateKayaker page*/

#logyakButton {
  float: right;
}

/* Sets size for user pictures on Kayaker Profile*/
#userThumnail {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: inline-block;
}
#userThumnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}


/* Sets picture on home page and backgroun color on other pages*/
#backgroundHome { 
      background: url(../../img/_homePics/homePic1.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

#backgroundSubpages {
  background-color: white;

}

/* Changes color of nav bar*/
#logyakNav {
      background-color: #555c6c;
      opacity: 1;
      height: 60px;
/*      font-size: 1.3em;
      background-color: #1A293E;
      #3c5973
      #04518c 
      #3e6383
      #314c64 
      #2c4459
      color : #d2d9e3;
      color : white;*/
}



/* Sizes logo picture*/
#logoGroup {
  height: 60px;
  padding-top: 7px;
}

#excursionsMenu {
      color: white;
/*      color : #d2d9e3;*/
      margin-top: 5px;
}

#kayakersMenu {
      color : white;
      margin-top: 5px;
}

/* Quotes of the day, home page */
.quoteDay {
  display: block;
  margin: 0 auto;
  padding-top: 40px;

  width: 65%;
}

.quoteDay h1{
  color: #ecf0f5;
/*  color: #d4dbe5;*/
/*  color: #d2d9e3;*/
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#logoGroupHome {
    height: 100px;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 20px;
}

#nameGroupHome {
  position: fixed;
  top: 25px;
  bottom: 0;
  left: 100px;
  color: #ff6613;
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: 24px;

}

#loginHome {
    position: fixed;
    top: 13px;
    bottom: 0;
    right: 2em;
    z-index: 1;
    display: block;
    padding: 20px;

}

#login  {
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 1.5em;
  text-align: center;
}

/*#logout  {
  color: white;
  color: #d2d9e3;
  font-family: 'Open Sans', sans-serif;
  height: 1.5em;
  text-align: center;
}*/

#excursionsNav{
  color: white;
  font-size: 1.3em;
}

#kayakersNav{
  color: white;
  font-size: 1.3em;
}


#navbar ul li {
  padding-top: 5px;
}

#logout {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

#hiUser {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

.nextExcursion {
    margin: 50px auto;
    min-height: 20px;
    padding: 19px;
    background-color: #ecf0f1;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    overflow: hidden;
    width: 60%

}
