<div ng-include src="'/app/common/navbar.html'"></div>

<div class="row">
  <div class="col-xs-12">
    <h2 class="sub-header" id="sub-header">Edit excursion - {{ excursion.name }} ({{ excursion.date }})</h2>
  </div>
</div>

<div class="container"> 
  <div class="row">
    <div class="well ">

      <!--DATA FORM-->
      <form>

        <div class="form-group col-md-2 has-feedback has-feedback-left">
           <label> Distance (nm) </label>
           <input class="form-control" maxlength="10" ng-model="excursion.distance" placeholder="in nautical miles" type="text" />
           <i class="glyphicon glyphicon-globe form-control-feedback"/>
        </div>

         <div class="form-group col-md-2 has-feedback has-feedback-left">
           <label > Time (h) </label>
           <input class="form-control" ng-model="excursion.time" maxlength="2" placeholder="Including breaks" type="text" />
           <i class="glyphicon glyphicon-time form-control-feedback"/>
        </div>

        <div class="form-group col-md-4 has-feedback has-feedback-left">
           <label> Wind force (Bft)</label>
           <input class="form-control" ng-model="excursion.windForce" maxlength="100" placeholder="in Bft" type="text" />
           <i class="glyphicon glyphicon-flag form-control-feedback"/>
        </div>

        <div class="form-group col-md-4 has-feedback has-feedback-left">
           <label > Sea conditions </label>
           <input class="form-control" ng-model="excursion.seaConditions" maxlength="100" placeholder="" type="text" />
           <i class="glyphicon glyphicon-warning-sign form-control-feedback"/>
        </div>

        <div class="form-group col-md-6">
          <label> Notes </label>
           <textarea id="notes" class="form-control" ng-model="excursion.notes" placeholder=""/>
        </div>

        <div class="form-group col-md-6">
           <label > Links </label>
           <textarea id="links" class="form-control" ng-model="excursion.links" placeholder="Links of interest" />
        </div>

        <div class="form-group col-md-12">
           <div><label > Attendees </label></div>
              <div class="form-group col-md-4">
                <ul ng-repeat ="kayaker in kayakers">
                  <li> {{kayaker.name}} {{kayaker.surname}}</li>
                </ul>
             </div>
        </div>

        <input type="submit" ng-click="update(excursion)" value="Save" class="btn btn-default"/>


      </form>
      <!--DATA FORM-->
    </div>
  </div>
</div>








