<div class="row">
  <div class="col-xs-12">
    <h2 class="sub-header" id="sub-header">Create kayaker - Kayak Group </h2>
  </div>
</div>

<div class="container"> 
  <div class="row">
    <div class="well ">

      <!--DATA FORM-->
      <form name="kayakerForm" ng-submit="submit(kayakerFormData)">

        <div class="form-group col-md-6">
           <label> Name </label>
           <input class="form-control" maxlength="50" ng-model="kayakerFormData.name" placeholder="" type="text"/>
        </div>

         <div class="form-group col-md-6">
           <label > Surname </label>
           <input class="form-control" maxlength="50" ng-model="kayakerFormData.surname" placeholder="" type="text"/>
        </div>

        <div class="form-group col-md-6">
           <label> Kayak </label>
           <textarea id="kayak" class="form-control" ng-model="kayakerFormData.kayak" placeholder=""/>
        </div>

         <div class="form-group col-md-6">
           <label > Paddle </label>
           <textarea id="paddle" class="form-control" ng-model="kayakerFormData.paddle" placeholder=""/>
        </div>

        <div class="form-group col-md-12">
          <label> Notes </label>
           <textarea id="notes" class="form-control" ng-model="kayakerFormData.notes" placeholder=""/>
        </div>

        <button type="submit" id="logyakButton" class="btn btn-default">Create</button>

      </form>
      <!--DATA FORM-->
    </div>
  </div>
</div>








