<div ng-include src="'/app/common/navbar.html'"></div>

<!-- Header -->
<div class="row">
	<div class="col-xs-12">
		<h2 class="sub-header" id="sub-header">{{ excursion.name }} ({{ excursion.date }})</h2>
	</div>
</div>
<!-- /Header -->

<!-- Excursion Details -->
<div class="responsive">
	<dl class="dl-horizontal" >
		<dt>Distance:</dt>
		<dd>{{ excursion.distance }} mn</dd>
		<dt>Time:</dt>
		<dd>{{ excursion.time }} h</dd>
		<dt>Wind force:</dt>
		<dd>{{ excursion.windForce }}</dd>
		<dt>Sea conditions:</dt>
		<dd>{{ excursion.seaConditions }}</dd>
		<dt>Notes:</dt>
		<dd>{{ excursion.notes }}</dd>
	</dl>

	<button ng-controller="DeleteExcursionCtrl" ng-click="deleteExcursion()" type="button" class="btn btn-danger" ng-href="#/excursion/{{ excursion.id }}">Delete</button>
     <a class="btn btn-primary" ng-href="#/edit/{{ excursion.id }}">Edit</a>
</div>
<!-- /Excursion Details -->

<!-- Attendees -->
<h3 class="sub-header" id="picturesTitle">Attendees</h3>
<div class="radio">
  <label><input type="radio" name="optradio">Ignasi</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Anna</label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="optradio">Francesc</label>
</div>
<!-- /Attendees -->


<!-- Uplading Pictures -->
<h3 class="sub-header" id="picturesTitle">Pictures</h3>

<div>
	<div class="form-group">
		<label>Upload Images</label>
		<input type="file" id="uploadFileToExcursion" name="{{ excursion.id }}" />
	</div>
</div>
<!-- /Uplading Pictures -->

<!-- Photo Gallery -->
<div id="links">
	<a ng-href="{{ picture.url }}" ng-repeat="picture in excursion.pictures" data-gallery>
		<figure class="thumbnailPhotoGallery" >
			<img ng-src="{{ picture.url }}"/>
		</figure>
	</a>
</div>
<!-- /Photo Gallery -->


<!-- Bootstrap Image Gallery lightbox -->
<div id="blueimp-gallery" class="blueimp-gallery">
<!-- The container for the modal slides -->
<div class="slides"></div>
<!-- Controls for the borderless lightbox -->
<h3 class="title"></h3>
<a class="prev">‹</a>
<a class="next">›</a>
<a class="close">×</a>
<a class="play-pause"></a>
<ol class="indicator"></ol>

<!-- The modal dialog, which will be used to wrap the lightbox content -->
<div class="modal fade">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" aria-hidden="true">&times;</button>
								<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body next"></div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default pull-left prev">
										<i class="glyphicon glyphicon-chevron-left"></i>
										Previous
								</button>
								<button type="button" class="btn btn-primary next">
										Next
										<i class="glyphicon glyphicon-chevron-right"></i>
								</button>
						</div>
				</div>
		</div>
	</div>
</div>
<!-- /Bootstrap Image Gallery lightbox -->

<!-- Links of interest -->
<div class="linksOfInterest">
		<h3 class="sub-header">Links</h3>
		<a href="{{ excursion.links }}"> {{ excursion.links }} </a>
</div>
<!-- /Links of interest -->

<script src="/app/details/inputFile.js"></script>
