<div class="row">
  <div class="col-xs-2">
    <img src="../img/logo_group.jpg" class="logoGroup"></src>
  </div>
  <div class="col-xs-10">
    <h2 class="sub-header" id="sub-header">Detailed Excursion Kayak Group</h2>
  </div>
</div>

<div class="responsive">
  <dl class="dl-horizontal" >
    <dt>id:</dt>
    <dd>{{ excursion.id }}</dd>
    <dt>Excursion:</dt>
    <dd>{{ excursion.name }}</dd>
    <dt>Date:</dt>
    <dd>{{ excursion.date }}</dd>
    <dt>Distance</dt>
    <dd>{{ excursion.distance }} mn</dd>
    <dt>Time:</dt>
    <dd>{{ excursion.time }}h</dd>
    <dt>Sea conditions:</dt>
    <dd>{{excursion.conditions }}</dd>
    <dt>Attendees:</dt>
    <dd>{{ excursion.attendees }}</dd>
    <dt>Notes:</dt>
    <dd>{{ excursion.notes }}</dd>
  </dl>
</div>

<h3 class="sub-header" id="picturesTitle">Pictures</h3>

<div id="links">
    <a href="img/kayakPic1.jpg" data-gallery>
        <img src="../img/kayakPic1.jpg" alt="Banana">
    </a>
    <a href="img/kayacPic2.jpeg" data-gallery>
        <img src="../img/kayacPic2.jpeg" alt="Banana">
    </a>
    <a href="img/kayakPic3.jpeg" data-gallery>
        <img src="../img/kayakPic3.jpeg" alt="Banana">
    </a>
<!--     <a href="kayakPic4.jpg" data-gallery>
        <img src="../img/kayakPic4.jpg" alt="Banana">
    </a> -->
    <a href="img/kayakPic5.jpg" data-gallery>
        <img src="../img/kayakPic5.jpg" alt="Banana">
    </a>
    <a href="img/kayakPic6.jpg" data-gallery>
        <img src="../img/kayakPic6.jpg" alt="Banana">
    </a>
    <a href="img/kayakPic7.jpg" data-gallery>
        <img src="../img/kayakPic7.jpg" alt="Banana">
    </a> 
    <a href="img/kayakPic8.jpg" data-gallery>
        <img src="../img/kayakPic8.jpg" alt="Banana">
    </a> 
    <a href="img/kayakPic9.jpg" data-gallery>
        <img src="../img/kayakPic9.jpg" alt="Banana">
    </a> 
    <a href="img/kayakPic5.jpg" data-gallery>
        <img src="../img/kayakPic5.jpg" alt="Banana">
    </a>
    <a href="img/kayakPic6.jpg" data-gallery>
        <img src="../img/kayakPic6.jpg" alt="Banana">
    </a>
    <a href="img/kayakPic7.jpg" data-gallery>
        <img src="../img/kayakPic7.jpg" alt="Banana">
    </a> 
    <a href="img/kayakPic8.jpg" data-gallery>
        <img src="../img/kayakPic8.jpg" alt="Banana">
    </a> 
    <a href="img/kayakPic9.jpg" data-gallery>
        <img src="../img/kayakPic9.jpg" alt="Banana">
    </a>
        <a href="img/kayakPic10.jpg" data-gallery>
        <img src="../img/kayakPic10.jpg" alt="Banana">
    </a>
        <a href="img/kayakPic11.jpg" data-gallery>
        <img src="../img/kayakPic11.jpg" alt="Banana">
    </a>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->

<div id="blueimp-gallery" class="blueimp-gallery">
<!-- The container for the modal slides -->
<div class="slides"></div>
<!-- Controls for the borderless lightbox -->
<h3 class="title"></h3>
<a class="prev">‹</a>
<a class="next">›</a>
<a class="close">×</a>
<a class="play-pause"></a>
<ol class="indicator"></ol>
<!-- The modal dialog, which will be used to wrap the lightbox content -->
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body next"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left prev">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Previous
                </button>
                <button type="button" class="btn btn-primary next">
                    Next
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="linksOfInterest">
    <h3 class="sub-header">Links</h3>
    <a href= "http://www.flickr.com">Ernesto's pictures</a>
</div>

