<div class="row">
  <div class="col-xs-2">
    <img src="../img/logo_group.jpg" class="logoGroup"></src>
  </div>
  <div class="col-xs-10">
    <h2 class="sub-header" id="sub-header">Detailed Excursion Kayak Group</h2>
  </div>
</div>

<div class="responsive">

  <form action="/excursionDetail#?" method="post" class="dl-horizontal" id="excursionForm">
    <div>
      <label for="id">id:</label>
      <!-- <input type="text" id="idExcursion" name="excursion_id" /> -->
      <span>this-is-my-id</span>
    </div>
    <div>
      <label for="excursion">Excursion:</label>
      <input type="text" id="excursionName" name="excursion_name" />
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="text" id="excursionDate" name="excursion_date" />
    </div>
    <div>
      <label for="distance">Distance (mn):</label>
      <input type="text" id="excursionDistance" name="excursion_distance" />
    </div>
    <div>
      <label for="time">Time:</label>
      <input type="text" id="excursionTime" name="excursion_time" />
    </div>
    <div>
      <label for="seaConditions">Sea conditions:</label>
      <input type="text" id="seaConditions" name="sea_conditions" />
    </div>
    <div>
      <label for="attendees">Attendees:</label>
      <input type="text" id="attendees" name="attendees" />
    </div>
    <div>
      <label for="notes">Notes:</label>
      <textarea id="notes" name="sherpa_notes"></textarea>
    </div>
    <div class="button">
     <button type="submit">Update</button>
    </div>
  </form>
</div>


<h3 class="sub-header" id="picturesTitle">Pictures</h3>


<div class="linksOfInterest">
  <h3 class="sub-header">Links</h3>
  <textarea id="notes" name="sherpa_notes"></textarea>
  <!-- <a href= "httpasdfkjansdkf">Ernesto's pictures</a> -->
  <div class="button">
    <button type="submit">Update</button>
  </div>
</div>

