

      <div class="row">
          <div class="col-xs-2">
            <img src="../img/logo_group.jpg" class="logoGroup"></src>
          </div>
          <div class="col-xs-10">
            <h2 class="sub-header" id="sub-header">Detailed Excursion Yak Group</h2>
          </div>
        </div>

        <div class="responsive">
          <dl class="dl-horizontal">
            <dt>id:</dt>
            <dd >10</dd>
            <dt>Excursion:</dt>
            <dd>Blanes-Tossa-Blanes</dd>
            <dt>Date:</dt>
            <dd>19/08/2016</dd>
            <dt>Distance</dt>
            <dd>15 mn</dd>
            <dt>Time:</dt>
            <dd>5h</dd>
            <dt>Sea conditions:</dt>
            <dd>Gentle breeze, 2-3Btf, 0.5m wave height</dd>
            <dt>Attendees:</dt>
            <dd>Francesc, M.Ángeles, Margarida, Joan, Manel, Ignasi, Anna, Francesc, M.Ángeles, Margarida, Joan, Manel, Ignasi, Anna, Francesc, M.Ángeles, Margarida, Joan, Manel, Ignasi, Anna, Francesc, M.Ángeles, Margarida, Joan, Manel, Ignasi, Anna</dd>
            <dt>Notes:</dt>
            <dd>Today we've seen two sunfish!!! :-) </dd>
          </dl>
        </div>

      <h3 class="sub-header" id="picturesTitle">Pictures</h3>

      <div id="links">
        <!--<a href="img/kayakPic1.jpg" data-gallery>
            <img src="../img/kayakPic1.jpg" alt="Banana">
        </a>
        <a href="img/kayacPic2.jpeg" data-gallery>
            <img src="../img/kayacPic2.jpeg" alt="Banana">
        </a>
        <a href="img/kayakPic3.jpeg" data-gallery>
            <img src="../img/kayakPic3.jpeg" alt="Banana">
        </a>
        <a href="img/kayakPic4.jpg" data-gallery>
            <img src="../img/kayakPic4.jpg" alt="Banana">
        </a>
        <a href="img/kayakPic5.jpg" data-gallery>
            <img src="../img/kayakPic5.jpg" alt="Banana">
        </a>
        <a href="img/kayakPic6.jpg" data-gallery>
            <img src="../img/kayakPic6.jpg" alt="Banana">
        </a>
        <a href="img/kayakPic7.jpg" data-gallery>
            <img src="../img/kayakPic7.jpg" alt="Banana">
        </a> -->
      </div>

      <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->

      <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
          </div>
        </div>

      <div class="linksOfInterest">
        <h3 class="sub-header">Links</h3>
        <a href= "httpasdfkjansdkf">Ernesto's pictures</a>
      </div>

